<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>All Games</title>
</head>
<body>
    <%- include('../partials/nav.ejs') %>
    <h1>All Games</h1>
    <% typeKeys.forEach( (type) => { %>
        <h3><%= type %>s</h3>
        <ul>
            <% typesOfGames[type].forEach( (game) => { %>
                <li>
                    <a href="/games/<%= game.name %>"><%= game.name %></a>
                </li>
            <% }) %>
        </ul>
    <% }) %>
</body>
</html>